.container__contact{
    display: flex;
    justify-content: center;
}

.col__data__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 7px;
}

.col__ul__contact {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px;
    padding: 7px;
}

.span__contact {
    color: var(--color-contrast-letter);
}

.li__contact{
    list-style: none;
}

.li__contact h2 {
    color: var(--color--letter);
}

.data__contact{
    height: 20px;
    width: 80px;
    margin: 6px;
    padding-left: 6px;
    border-radius: 10px;
    background-color: #2f8a73;
    color: black;
    font-weight: bold;
}

.data__contact__white{
    height: 20px;
    width: 80px;
    margin: 6px;
    padding-left: 7px;
    border-radius: 10px;
    background: var(--color--letter);
    color: black;
    font-weight: bold;
}

.li__sec__contact{
    list-style: none;
    margin: 5px;
    font-weight: bold;
    color: var(--color--letter);
}

.li__sec__contact__number{
    list-style: none;
    color: var(--color-contrast-letter);
    font-weight: bold;
}

@media screen and (max-width: 768px) {
    .data__contact {
        width: 40px;
    }

    .data__contact__white {
        width: 40px;
    }

    .col__data__contact {
        font-size: 15px;
    }

    .li__contact h2 {
       font-size: 20px;
    }
}