@import url('./animations.css');

#works {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    animation: appear 2.5s both;
}

.col__works {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2em;
    max-height: 500px;
}

.col__titulo{
  color: #aaa;
  margin-top: 2em;
}

.titulo__page span {
  color: var(--color-contrast-letter);
}

.slider {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
  width: 100%;
  overflow: hidden;
  border: 2px solid #aaa;
  border-radius: 20px 0px;
  margin: 0 auto;
  padding: 2em;
}

#img__itemWorks {
  width: 50px;

}

.itemIcon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  transition-property: color;
  transition-duration: 0.5s;
}


.itemIcon:hover {
  color: #aaaaaaaf;
}

.shake-on-hover:hover {
  animation: subtle-shake 0.4s ease-in-out;
}

.slide {
  text-align: center;
  width: 100%;
}

.slide__content {
  max-width: 500px;
}

.slide__content a {
  text-decoration: none;
  color: var(--color--letter);
}

.slide__content img {
    width: 100%;
    border-radius: 100%;
}


.slide__title {
  font-size: 1.5rem;
  margin: 1em;
  color: var(--color--letter);
}

.slide__description {
  margin: 20px 0px;
  font-size: 1rem;
  color: var(--color-contrast-letter);
}

.prev {
  transition-duration: 0.5s;
}

.next {
  transition-duration: 0.5s;
}

.prev:hover {
  box-shadow: inset #1ed6ae 1px 1px 5px 1px;
  border-radius: 0px 15px;
}

.next:hover {
  box-shadow: inset #1ed6ae -1px 1px 5px 1px;
  border-radius: 15px 0px;
}

.slider-btn {
  background-color: transparent;
  border: none;
  font-size: 2rem;
  cursor: pointer;
  margin: 7px;
  padding: 1rem;
  color: #aaa;
  height: 500px;
}


@media screen and (min-width: 120px) and (max-width: 425px) {
  #img__itemWorks {
    display: none;
  }

  .slider {
    height: 290px;
  }

  .slider-btn {
    height: 290px;
  }
}

@media screen and (max-width: 768px) {

  .itemIcon {
    font-size: 16px;
  }

  .slide__title{
    font-size: 16px;
  }

  .slider {
    width: 200px;
  }
}

@media screen and (min-width: 425px) and (max-width: 768px) {
  #img__itemWorks{
    width: 40px;
  }

  .slider {
    width: 300px;
    height: 400px;
  }

  .slider-btn {
    height: 400px;
  }
}

@media screen and (min-width: 768px) {
  .slider {
    width: 350px;
  }
}