@import url('./style/animations.css');
@import url('./style/im.css');
@import url('./style/works.css');
@import url('./style/about.css');
@import url('./style/contact.css');

:root {
    --color-contrast-letter: #1ed6ae;
    --color--letter: #aaa;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    letter-spacing: 2px;
    font-family: "Source Code Pro", monospace;
}


body {    
  overflow-x: hidden;
  background-image: url('./assets/images/fondo_negro01.jpeg');
  background-size: cover;
}

.container{
  perspective: 800px;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  width: 100%;
  overflow-x: hidden;
}


.section {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 100%;
  min-height: 100vh;
  box-sizing: border-box;
}


.header {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  position: sticky;
  top: 20px;
}

.ul__nav {
  display: flex;
  margin: 0px 1em;
  list-style: none;
}

.li__nav {
  color: white;
  font-size: 14px;
  cursor: pointer;
  transition: color 0.3s;  
  letter-spacing: 1px;
  padding: 8px;
}

.li__nav:hover {
  color: #aaa;
}

@media screen and (max-width: 320px) {
  .li__nav {
    font-size: 12px;
    margin: 0px;
  }

  .nav-panel {
    padding: 0px;
  }
}

@media screen and (max-width: 375px) {
    .li__nav {
    font-size: 12px;
  }
}